<nav class="navbar navbar-expand-sm" bg-light>
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="sala/create" class="nav-link" routerLinkActive="acitive">
          Criar nova sala
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="sala" class="nav-link" routerLinkActive="acitive">
          Listar Salas
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>